*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(191, 193, 194);
}
.box{
    background-color: #fff;
    width: 270px;
    height: 270px;
    text-align: center;
    position: relative;
    top: 150px;
    left: 530px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba( 0, 0, 0);
}
.box h1{
    font-size: 50px;
    padding-top: 30px;
    font-family: sans-serif;
}
.button{
    margin-top: 130px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #000;
    font-family: sans-serif;
}
.button:hover{
    background-color: black;
    color: #fff;
}